* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

/* common */

* {
    font-family: 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.flex {
    display: flex;
    align-items: center;
}

img {
    width: 100%;
    display: inline-block;
}

ul {
    list-style-type: none;
}

li a, a {
    text-decoration: none;
    color: white;
    padding: 0 3px;
}


/* header */

header {
    font-size: 12px;
    background-color: #ff6900;
}

.header-container {
    color: white;
    width: 60%;
    margin: 0 auto;
    padding: 15px 0;
    justify-content: space-between;
}

.menu {
    width: calc(100%/3);
}

.navigation-menu {
    justify-content: flex-start;
}

.logo {
    width: 100px;
}

.account-area {
    width: calc(100%/3);
    text-align: right;
}

/* main */
/* layout */


.main-container {
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
}


/* product card details */

.col-card {
    padding: 30px 20px;
    width: calc(100% / 3);
    flex-wrap: wrap;
}

.product {
    position: relative;
}

.discount-area {
    position: absolute;
    left: 0;
    bottom: 30px;
}

.discount-area span {
    color: white;
    font-size: 10px;
}
.red-tag {
    background-color: red;
}

.green-tag {
    background-color: green;
}

.heart {
    padding: 0 4px;
    background: white;
    position: absolute;
    top: 10px;
    right: 0;
}

.item-description {
    font-size: 12px;
}

.product-name {
    text-transform: uppercase;
    font-weight: 700;
}

.new-price {
    color: red;
    font-weight: 600;
}

.old-price {
    color: black;
    text-decoration: line-through;
    font-style: italic;
}